.archive__container {
  width: 300px;
  height: 300px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #163a87;
  margin: 10px;
  border-radius: 5px;
  opacity: 0.9;
}

.archive__containerIcons {
  display: flex;
  width: 80%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.archive__containerIcons .MuiSvgIcon-root {
  color: black;
}

.archive__containerIconsFolderIcon .MuiSvgIcon-root {
  color: #64ffda;
  transform: scale(1.8);
}

.archive__title {
  margin: 10px 20px;
  color: white;
}

.archive__desc {
  margin: 0 20px;
  color: white;
  overflow: auto;
}

.archive__container__mobile {
  width: 200px;
  height: 50vh;
}