.home {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 0 auto;
  padding-bottom: 200px;
  padding-top: 300px;
  align-items: center;
}

.home__containerDesc {
  width: 50%;
}

.home__container h1 {
  font-size: 6em;
}

.home__container h2 {
  color: lightgray;
  font-size: 3em;
}

.home__containerContact {
  width: fit-content;
  padding: 10px;
  border: 1px solid rgb(80, 233, 80);
  border-radius: 5px;
}

.home__containerContact a {
  text-decoration: none;
  color: rgb(80, 233, 80);
}

.home__containerContact__mobile {
  margin-top: 10px;
}
