.navigation-container {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(255, 255, 255);
}
  
.panel {
    position: absolute;
    top: 0;
    left: 104px;
    z-index: 1000;
    background-color: rgb(194, 205, 215);
    border-radius: 10px;
    padding: 1em;
}
  
.panel-items {
    padding-right: 2em;
    margin-top: 1em;
}
  
  