.otherProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
  padding: 100px 0;
}

.otherProjects h1 {
  margin-bottom: 20px;
}

.otherProjects__container {
  display: flex;
  flex-direction: column;
}

.otherProjects__containerRow {
  display: flex;
}

.otherProjects__containerBox {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  opacity: 0.7;
}

.otherProjects__containerBox:hover {
  cursor: pointer;
  top: -10px;
  opacity: 1;
}

.otherProjects__containerBox a {
  text-decoration: none;
}
