.experience {
  width: 60vw;
  margin: 0 auto;
  padding: 200px 0;
}

.experience__container {
  display: flex;
  margin-top: 20px;
}

.experience__verticalBar {
  flex: 0.3;
}

.experience__verticalBar p {
  padding: 10px 20px;
  height: 2em;
  border-left: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.experience__verticalBar p:hover {
  background-color: lightgray;
  cursor: pointer;
  color: rgb(21, 45, 177);
}

.experience__description {
  margin-left: 20px;
  flex: 0.7;
}

.experience__descBullet {
  margin-top: 10px;
}

.experience__description img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.selected_comp {
  background-color: lightgray;
  border-left: 2px solid rgb(21, 45, 177) !important;
  color: rgb(21, 45, 177);
}

.experience__description--top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// --- ------ -- mobile

.experience__mobile {
  width: 60vw;
  margin: 0 auto;
  padding: 100px 0;
}

.experience__description__mobile {
  height: 600px;
}

.experience__descriptionBottom__mobile {
  width: 250px;
}

.experience__title__mobile {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250
}