.experience {
  width: 60vw;
  margin: 0 auto;
  padding-bottom: 200px;
}

.experience__container {
  display: flex;
  margin-top: 20px;
}

.experience__verticalBar {
  flex: 0.3;
}

.experience__verticalBar p {
  padding: 10px 20px;
  height: 2em;
  border-left: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.experience__verticalBar p:hover {
  background-color: lightgray;
  cursor: pointer;
  color: rgb(21, 45, 177);
}

.experience__description {
  margin-left: 20px;
  flex: 0.7;
}

.experience__descBullet {
  margin-top: 10px;
}

.experience__description img {
  width: 250px;
  height: 250px;
}

.selected_comp {
  background-color: lightgray;
  border-left: 2px solid rgb(21, 45, 177) !important;
  color: rgb(21, 45, 177);
}
