.experience {
  height: 60vh;
  width: 60vw;
  margin: 0 auto;
}

.experience__verticalBar p {
  margin-bottom: 15px;
  padding: 10px;
}

.experience__verticalBar p:hover {
  background-color: lightgray;
  cursor: pointer;
}

.experience__container {
  display: flex;
  margin-top: 20px;
}

.experience__description {
  margin-left: 20px;
}

.experience__descBullet {
  margin-top: 10px;
}

.experience__description img {
  width: 250px;
  height: 250px;
}
