.header {
  border-bottom: 1px solid lightgray;
}

.header__list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  height: 10vh;
  width: 30vw;
  margin-left: auto;
}

.header__list > li {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.header__list > li:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}
