.header {
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(235, 235, 235);
  z-index: 99;
}

.header__list {
  list-style: none;
  height: 10vh;
  display: flex;
  width: fit-content;
  margin-left: auto;
}

.header__list > li {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.header__list > li:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}
