.home {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 60vw;
  margin: 0 auto;
}

.home__container {
  margin: auto;
}

.home__container h2 {
  color: lightgray;
}

.home__containerContact {
  width: fit-content;
  padding: 10px;
  border: 1px solid rgb(80, 233, 80);
}

.home__containerContact a {
  text-decoration: none;
  color: rgb(80, 233, 80);
}
