.home {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 0 auto;
  padding-bottom: 200px;
  padding-top: 300px;
}

.home__container h2 {
  color: lightgray;
}

.home__containerContact {
  width: fit-content;
  padding: 10px;
  border: 1px solid rgb(80, 233, 80);
  border-radius: 5px;
}

.home__containerContact a {
  text-decoration: none;
  color: rgb(80, 233, 80);
}
